# Byte-compiled Java classes
/*.class

# Archivos generados por IDEs

CVDS-lab-2/*.iml
CVDS-lab-2/*.ipr
CVDS-lab-2/*.iws

# Carpeta de compilación de Maven
CVDS-lab-2/Patterns/.idea/
CVDS-lab-2/Patterns/target/
CVDS-lab-2/.idea/
.idea/