<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Juego de Adivinar el Número</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Juego de Adivinar el Número</h1>
    <p>Tu premio actual es de $<span th:text="${prize}"></span></p>
    <form action="/guess" method="post">
        <label for="numero">Ingresa un número del 1 al 10:</label>
        <input type="number" id="numero" name="numero" min="1" max="10" required>
        <button type="submit">Jugar</button>
    </form>
    <!-- Contenedor del enlace de reiniciar -->
    <div class="reset-link">
        <p><a href="/guess/reset">Reiniciar el juego</a></p>
    </div>
</div>
</body>
</html>